<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>            
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Si vis pacem, pare bellum</p>
            <p>publicado:28.11.2023, 08:42</p>
        </div>

        <div>            
            <h2><a href="">Meu segundo post</a></h2>
            <p>Ad astra per aspera</p>
            <p>publicado:28.11.2023, 08:44</p>
        </div>
    </body>
</html>